@using diplomOriginal.Modules;
@{
    ViewData["Title"] = "Товары";
}

<div class="py-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Товары</h1>
</div>

<div class="container-xl">
    <div class="row hidden-md-up">
        @{
            Item[]? items = ItemsRepository.GetAllItems().Result;
        }
        @if (items is not null)
        {
            @foreach(var item in items)
            {
                <div class="col-md-4">
                    <div class="shadow border rounded-3 card mb-4 mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">@(item.Name)</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Артикул: @(item.PartNumber)</h6>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <strong>
                                    @(Database.GetPrice(item.PartNumber).Result?.ToString() ?? "Цену уточните у менеджера")
                                </strong> ₽</h6>
                            <p class="card-text">@(item.Description)</p>
                            <p class="card-text">Для покупки свяжитесь с нами: <strong>+79817511074</strong></p>
                            @*@if (LoginManager.IsUserIn(Context))
                            {
                                <form asp-controller="Catalog" asp-action="AddToCart" method="post">
                                    <input type="hidden" name="id" value="@item.PartNumber" />
                                    <input type="hidden" name="prevIp" value="@Context.Request.Path" />
                                    <input type="submit" class="rounded-3" value="Добавить в корзину" />
                                </form>
                            }
                            else
                            {
                                <p class="card-text">Для покупки свяжитесь с нами: <strong>+79817511074</strong></p>
                            }*@
                        </div>
                    </div>
                </div>
            }
        } else
        {
            <div class="col-md-4">
                <div class="shadow border rounded-3 card mb-4 mx-auto">
                    <div class="card-body">
                        <h5 class="card-title">Товаров не найдено</h5>
                        <p class="card-text">Возможно произошла какая-то ошибка, попробуйте обновить страницу</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
